[submodule "week3-msg-integrity/src/utils"]
	path = week3-msg-integrity/src/utils
	url = git@github.com:kryheb/utils.git
[submodule "week4-auth-encryption/src/utils"]
	path = week4-auth-encryption/src/utils
	url = git@github.com:kryheb/utils.git
[submodule "week5-basic-key-exchange/src/utils"]
	path = week5-basic-key-exchange/src/utils
	url = git@github.com:kryheb/utils.git
[submodule "week6-public-key-encryption/src/utils"]
	path = week6-public-key-encryption/src/utils
	url = git@github.com:kryheb/utils.git
